@model EmpresaImportadoraDC.Models.Entities.Cliente
@{
    ViewData["Title"] = "CrearCliente";
}

<h1>Crear</h1>

<h4>Cliente</h4>
<hr />

<div class="row">
    <div class="col-md-4">
        <form asp-action="CrearCli">

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="NumeroCasillero" class="control-label"></label>
                <input asp-for="NumeroCasillero" class="form-control" />
                <span asp-validation-for="NumeroCasillero" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NombreCliente" class="control-label"></label>
                <input asp-for="NombreCliente" class="form-control" />
                <span asp-validation-for="NombreCliente" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Correo" class="control-label"></label>
                <input asp-for="Correo" class="form-control" />
                <span asp-validation-for="Correo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DireccionEntrega" class="control-label"></label>
                <input asp-for="DireccionEntrega" class="form-control" />
                <span asp-validation-for="DireccionEntrega" class="text-danger"></span>
            </div>
            <div class="form-group">
                <a class="btn btn-danger" asp-action="Index">Cancelar</a>
                <input type="submit" value="Guardar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
