@model EmpresaImportadoraDC.Models.Entities.Mercancia
@{
    ViewData["Title"] = "CrearMercancia";
}
<br />
<div class="container-fluid">
    <div class="row mb-2">
        <div class="col-sm-6">
            <h1 class="m-0">Crear mercancía</h1>
        </div>
        <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item"><a asp-action="index" asp-controller="Mercancia">Inicio</a></li>
                <li class="breadcrumb-item active">Crear mercancía</li>
            </ol>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <form asp-action="CrearMer">

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="MercanciaId" />
            <div class="form-group">
                <label asp-for="TipoMercancia" class="control-label"></label>
                <input asp-for="TipoMercancia" class="form-control" />
                <span asp-validation-for="TipoMercancia" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Guardar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">volver</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}