@model EmpresaImportadoraDC.Models.Entities.Paquete

@{
    ViewData["Title"] = "Detalle";
    Layout = null;
}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <form asp-action="DespacharPaquete" asp-route-id="@Model.PaqueteId" enctype="multipart/form-data">
                <input type="hidden" asp-for="PaqueteId" />
                <input type="hidden" asp-for="NoGuiaUSA" />
                <input type="hidden" asp-for="TransportadoraUSA" />
                <input type="hidden" asp-for="ValorTotal" />
                <input type="hidden" asp-for="Estado" />
                <input type="hidden" asp-for="RutaImagen" />
                <input type="hidden" asp-for="Codigo" />
                <input type="hidden" asp-for="PesoLibras" />
                <input type="hidden" asp-for="ClienteId" />
                <input type="hidden" asp-for="MercanciaId" />

                <div asp-validation-summary="ModelOnly"></div>
                <div class="form-group">
                    <label asp-for="NoGuiaCO" class="control-label"></label>
                    <input asp-for="NoGuiaCO" class="form-control" />
                    <span asp-validation-for="NoGuiaCO" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="TransportadoraCO" class="control-label"></label>
                    <select asp-items="ViewBag.ListaTransportadoraCO" asp-for="TransportadoraCO" class="form-control"></select>
                    <span asp-validation-for="TransportadoraCO" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Despachar" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}