  <!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a asp-action="index" asp-controller="Clientes" class="brand-link">        
        <span class="brand-text font-weight-light">Empresa Importadora DC</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">        

        <!-- SidebarSearch Form -->
        <div class="form-inline">
            <div class="input-group" data-widget="sidebar-search">
                <input class="form-control form-control-sidebar" type="search" placeholder="Search" aria-label="Search">
                <div class="input-group-append">
                    <button class="btn btn-sidebar">
                        <i class="fas fa-search fa-fw"></i>
                    </button>
                </div>
            </div>
        </div>

        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="fas fa-user"></i>
                        <p>
                            CLIENTE
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="pages/charts/chartjs.html" class="nav-link">
                                <i class="fas fa-hockey-puck"></i>
                                <p>Dashboard</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a asp-action="index" asp-controller="Clientes" class="nav-link">
                                <i class="fas fa-users"></i>
                                <p>Clientes</p>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="fas fa-archive"></i>
                        <p>
                            PAQUETE
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a asp-action="DashboardPaquete" asp-controller="Paquetes" class="nav-link">
                                <i class="fas fa-hockey-puck"></i>
                                <p>Dashboard</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a asp-action="index" asp-controller="Paquetes" class="nav-link">
                                <i class="fas fa-box-open"></i>
                                <p>Paquetes</p>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="fas fa-cog"></i>
                        <p>
                            CONFIGURACIÓN
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a asp-action="EditarValorLibra" asp-controller="ValorLibras" class="nav-link">
                                <i class="fas fa-coins"></i>
                                <p>Valor Libra</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a asp-action="index" asp-controller="Mercancia" class="nav-link">
                                <i class="fas fa-people-carry"></i>
                                <p>Mercancias</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a asp-action="index" asp-controller="Transportadoras" class="nav-link">
                                <i class="fas fa-truck"></i>
                                <p>Transportadoras</p>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>        
        <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>